# Project - SparkDF

Analysis of large datasets is being performed at
an unprecedented frequency. Several technologies have been
developed to do so, offering a variety of solutions and drawbacks
related to the processing of different data types and
data processing requirements. 

This notebook implements SparkDF in order to solve a series of questions by using a data set regarding air polution in the USA.
In the report, we compared the performance
of five different technologies – MapReduce, Spark RDD,
SparkDF, Spark SQL and Hive.

## Q.1) Which states have more/less monitors? (Rank states!)

In [ ]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SQLContext

spark = SparkSession.builder.master('local[*]').appName('assig').getOrCreate()
sc = spark.sparkContext

try :
    lines = sc.textFile('./epa_hap_daily_summary-small.csv')
    l2 = lines.filter( lambda line : len(line) > 0 )
    header = l2.first()
    txt = l2.filter(lambda line: line != header)
    l3 = txt.map( lambda line : line.split(',') )
    logRows = l3.map( lambda arr : Row( state = arr[24], coords = arr[5]+arr[6]))

    logRowsDF = spark.createDataFrame( logRows )
    
    stateadd = logRowsDF.groupBy('state').agg(countDistinct('coords').alias('count'))
    sasorted= stateadd.sort(col("count").desc())
    
    sasorted.show(100)
except Exception as e:
    print(e)
sc.stop()

+--------------------+-----+
|               state|count|
+--------------------+-----+
|          California|  170|
|               Texas|  133|
|           Minnesota|   94|
|            Michigan|   92|
|                Ohio|   91|
|            New York|   67|
|      South Carolina|   64|
|             Montana|   62|
|        Pennsylvania|   61|
|             Florida|   55|
|             Indiana|   52|
|            Colorado|   51|
|      North Carolina|   50|
|            Illinois|   49|
|          Washington|   43|
|           Louisiana|   41|
|             Arizona|   38|
|              Kansas|   37|
|             Georgia|   35|
|            Kentucky|   34|
|              Oregon|   32|
|             Alabama|   31|
|           Tennessee|   29|
|           Wisconsin|   26|
|          New Jersey|   24|
|             Vermont|   23|
|            Oklahoma|   22|
|         Mississippi|   21|
|               Maine|   21|
|       Massachusetts|   19|
|            Virginia|   19|
|   Country Of Mexico|   18|
|          New Mexico|   18|
|                Iowa|   18|
|            Missouri|   18|
|            Maryland|   17|
|       New Hampshire|   17|
|               Idaho|   17|
|         Connecticut|   15|
|        Rhode Island|   13|
|                Utah|   12|
|              Alaska|   12|
|            Arkansas|   11|
|       West Virginia|   10|
|              Nevada|    9|
|             Wyoming|    9|
|        North Dakota|    7|
|        South Dakota|    7|
|      Virgin Islands|    6|
|            Delaware|    6|
|            Nebraska|    6|
|         Puerto Rico|    6|
|District Of Columbia|    5|
|              Hawaii|    5|
+--------------------+-----+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Q.2) Which counties have the best/worst air quality? (Rank counties considering pollutants’ level!)

In [ ]:
from pyspark.sql import *
from pyspark.sql.types import *
import pyspark.sql.functions as F

spark = SparkSession.builder.master('local[*]').appName('assig').getOrCreate()
sc = spark.sparkContext

try :
    lines = sc.textFile('./epa_hap_daily_summary-small.csv')
    l2 = lines.filter( lambda line : len(line) > 0 )
    header = l2.first()
    txt = l2.filter(lambda line: line != header)
    l3 = txt.map( lambda line : line.split(',') )
    logRows = l3.map( lambda arr : Row( county = arr[25], mean=arr[16]))
    logRowsDF = spark.createDataFrame( logRows )
    stateadd = logRowsDF.groupBy('county').agg(count('mean').alias('nrecords'), sum('mean').alias('totalmean'))
    new_df = stateadd.withColumn("meanOfmeans", (F.col("totalmean") / F.col("nrecords")))
    sasorted= new_df.sort(col("meanOfmeans").desc())
    final= sasorted.drop('nrecords', 'totalmean')
    final.show(100)
except Exception as e:
    print(e)
sc.stop()

+--------------------+------------------+
|              county|       meanOfmeans|
+--------------------+------------------+
|              Tipton|            2556.0|
|              Nassau|              19.0|
|          Columbiana| 7.385690735785953|
|     CHIHUAHUA STATE|         4.5121875|
|            Caldwell| 4.116666666666667|
|              Madera|            3.7393|
|             Oakland| 2.888877848101266|
|               Duval|2.7794603978494625|
|              Kearny|2.3753333333333333|
|               Bucks|2.3674999999999997|
|     San Luis Obispo|2.3333333333333335|
|           Edgecombe|             2.325|
|              Pawnee|2.2941176470588234|
|         Westchester|          2.239375|
|            Johnston|             2.225|
|            Hartford|2.0787055896226416|
|           Granville|2.0285714285714285|
|              Asotin|             2.025|
|              Duplin|               2.0|
|             Boulder| 1.960470901234568|
|          Crittenden|1.9000000000000001|
|              Yancey|               1.9|
|         Los Angeles|1.8391350859879247|
|           Iberville|1.8213132266666665|
|             Caswell|           1.80075|
|                Pitt|1.7999999999999998|
|             Clinton|1.7583018867924527|
|               Wayne|1.7137964212983239|
|            Imperial|1.6478600515463917|
|             Ozaukee|        1.55733332|
|          Stillwater|1.5384615384615385|
|           Crow Wing| 1.532046511627907|
|                Boyd| 1.485702254901961|
|          Gloucester|1.4814285714285715|
|           Henderson|1.4295509090909093|
|            Kennebec|             1.375|
|          Stanislaus|1.2781941269841275|
|           Muscatine|            1.2375|
|          Deer Lodge|1.2135793388429752|
|                Mesa|1.2109524924242425|
|             Spokane|1.1469733510638298|
|    East Baton Rouge|1.1444728456659612|
|              Harris|1.1426282723128096|
|               Davis|1.1418481240188378|
|            Phillips|1.1414093959731544|
|             Tuscola|     1.13696140625|
|           Nez Perce|1.1226492795389047|
|             Bayamon|1.1200363636363637|
|           Pipestone|1.0807463414634146|
|           Wyandotte|1.0779660104986872|
|              Hudson|         1.0754546|
|          Williamson|1.0616129032258064|
|      St. Louis City|1.0544578440366965|
|     Yellow Medicine|1.0511541666666666|
|         San Joaquin|1.0142639721936149|
|              Miller| 1.011219512195122|
|               Ector|1.0014370984405456|
|             Sherman|0.9735323943661971|
|         St. Charles|0.9709866896551724|
|          Otter Tail|0.9641929203539823|
|                Kern|0.9552840147731252|
|             El Paso|0.9325039253789317|
|               Cloud|0.9306044444444446|
|          Palm Beach|0.9141428571428573|
|              DeKalb|0.9125199496626882|
|              Itasca|0.8895128205128204|
|                Lake|0.8883477899216881|
|            Nicollet| 0.881576923076923|
|           Fairfield|0.8765945608108108|
|             Hampden|0.8682349224043717|
|               Kings|0.8551156355455565|
|              Fresno|0.8499170323179771|
|           Sherburne|0.8408257575757577|
|           Milwaukee|0.8367436675461741|
|             Hampton|0.8288424908424908|
|           Multnomah|0.8102990317052269|
|             Tolland|0.8060031923076922|
|                Park|0.8035137527114968|
|             Cowlitz| 0.802640243902439|
|BAJA CALIFORNIA N...|0.8018910386965376|
|               Caddo|             0.798|
|             Bristol|0.7900226190476192|
|            Rockdale|0.7900198421052631|
|            Sedgwick|0.7691381596587447|
|             Allegan|0.7629881891891892|
|           Merrimack|0.7562957446808511|
|              Lehigh|0.7544444444444444|
|              Wright|0.7452957746478873|
|           Riverside| 0.741725700934578|
|            Caroline|0.7399637916666667|
|           Kalamazoo|0.7357420124223601|
|             Greeley|0.7271684210526316|
|              Denver|0.7212535775510206|
|              Camden|0.7198732414075286|
|                Cook|0.7069328430469428|
|           Caledonia|0.7054105882352942|
|            Morrison|0.7011904761904763|
|              Ottawa|0.6909859050445101|
|         Barceloneta| 0.687767955801105|
|            Trumbull| 0.660764705882353|
+--------------------+------------------+
only showing top 100 rows

## Q.3) Which states have the best/worst air quality in each year? (Rank states per year
considering pollutants’ level!)

In [ ]:
from pyspark.sql import *
from pyspark.sql.types import *
import pyspark.sql.functions as F

spark = SparkSession.builder.master('local[*]').appName('assig').getOrCreate()
sc = spark.sparkContext

try :
    lines = sc.textFile('./epa_hap_daily_summary-small.csv')
    l2 = lines.filter( lambda line : len(line) > 0 )
    header = l2.first()
    txt = l2.filter(lambda line: line != header)
    l3 = txt.map( lambda line : line.split(',') )
    logRows = l3.map( lambda arr : Row( state = arr[24], mean=arr[16], year=arr[11].split('-')[0]))
    logRowsDF = spark.createDataFrame( logRows )
    stateadd = logRowsDF.select('state', 'year', 'mean').groupBy('state', 'year').agg(count('mean').alias('nrecords'), sum('mean').alias('totalmean'))
    new_df = stateadd.withColumn("meanOfmeans", (F.col("totalmean") / F.col("nrecords")))
    sasorted= new_df.sort(col("meanOfmeans").desc())
    final= sasorted.drop('nrecords', 'totalmean')
    final.show(100)
except Exception as e:
    print(e)
sc.stop()

+--------------------+----+------------------+
|               state|year|       meanOfmeans|
+--------------------+----+------------------+
|           Tennessee|1990|170.40093066666665|
|   Country Of Mexico|1995|              8.46|
|            Michigan|2001| 4.506138716367713|
|       Massachusetts|1993| 4.305833285714285|
|            Colorado|2017|4.2250000000000005|
|             Indiana|1990| 4.098978378378379|
|            Illinois|1992| 3.911825163398692|
|       Massachusetts|1994|3.4609906122448977|
|           Louisiana|1995| 3.364348865853659|
|        Rhode Island|1994|3.3635714000000005|
|             Alabama|1996| 3.226314057971015|
|         Connecticut|1993|3.0975461538461535|
|       Massachusetts|1990|3.0246823529411766|
|           Wisconsin|1994|2.9504833333333336|
|             Indiana|1993|2.8972258064516128|
|        Rhode Island|1995|2.7313043478260868|
|            Delaware|1993|          2.723077|
|             Indiana|1992|2.6606363636363635|
|        Pennsylvania|1993|2.5750862068965517|
|District Of Columbia|1995|2.5047463333333333|
|           Wisconsin|1995|2.5022444333333334|
|           Wisconsin|1998|2.4918918918918918|
|         Connecticut|1998|2.3851474516129034|
|   Country Of Mexico|1993|              2.38|
|         Connecticut|1995|2.2217777749999996|
|       Massachusetts|1995|2.2107647272727275|
|           Louisiana|1993|2.1176116250000003|
|       Massachusetts|1992|2.1174999999999997|
|         Connecticut|1997|        2.09315096|
|      North Carolina|1995|2.0843603636363635|
|            Delaware|1994|          2.082609|
|             Montana|1990|2.0686790073529413|
|      South Carolina|2016| 2.062485576923077|
|        Rhode Island|1997|        2.03347144|
|          California|1999|1.9116508577648772|
|        Pennsylvania|1996|1.9112836666666666|
|           Wisconsin|1999|1.8989440344827586|
|                Ohio|2013| 1.858735447154472|
|          New Jersey|1997|1.8481895609756098|
|         Puerto Rico|2006|1.8463026666666666|
|   Country Of Mexico|2004|1.8227272727272732|
|       Massachusetts|1998|1.8213961445783133|
|   Country Of Mexico|2003|1.8089999999999997|
|        Pennsylvania|1994|1.8054421904761901|
|             Alabama|1994|1.7862802040816326|
|             Georgia|2000|1.7784729333333336|
|         Connecticut|2000|1.7584616363636365|
|           Louisiana|2007| 1.705220930232558|
|        Rhode Island|1996|1.7016831034482756|
|   Country Of Mexico|2005|1.6990322580645159|
|           Wisconsin|1997| 1.671547595238095|
|             Indiana|1991|1.6614237288135594|
|       Massachusetts|1996|1.6282544833333332|
|          California|1997|1.6016017594670395|
|             Montana|1996|1.6004670833333339|
|             Georgia|1999|1.5956955925925924|
|         Connecticut|1992|            1.5926|
|          California|1995| 1.587400337876614|
|       Massachusetts|1997| 1.562034396551724|
|          California|1998|1.5568169675745778|
|              Kansas|1998|1.5540454545454545|
|              Oregon|1999|1.5218113372093023|
|               Texas|1990|1.4824716546762589|
|               Texas|1996| 1.481970256559767|
|          California|1996|1.4724994675658305|
|        Pennsylvania|1995| 1.466416666666667|
|        Pennsylvania|1997|1.4504485112781955|
|      North Carolina|1997|1.3985104938271604|
|             Alabama|1993|1.3672750000000002|
|            New York|1990| 1.362972027972028|
|           Louisiana|1996| 1.355698924731183|
|      North Carolina|1996|1.3548035955056181|
|               Texas|1992|1.3476657142857142|
|                Utah|2016|1.3463211180124222|
|   Country Of Mexico|1998|        1.34476125|
|       Massachusetts|1999|1.3221718219178082|
|           Wisconsin|1996| 1.309747846153846|
|             Indiana|2008|1.3090953023839393|
|               Texas|1997| 1.302157374903773|
|            Michigan|2004|1.2914282101359706|
|             Florida|1990|1.2765626315789476|
|            Delaware|1995|1.2724416666666667|
|             Indiana|1995|1.2713646853932583|
|   Country Of Mexico|2006|1.2554999999999998|
|            Michigan|2010|1.2337054013377924|
|            Michigan|2011|1.2318182529118133|
|            New York|1998|1.2225324434389142|
|            Kentucky|2007|1.2216650922509225|
|         Connecticut|1999|1.2134863055555556|
|               Texas|1995|1.2043757397820163|
|         Connecticut|1996|1.2037766818181816|
|          California|2000|1.2019926832034018|
|           Louisiana|1991|1.2000000000000002|
|      North Carolina|1998|1.1941412244897958|
|             Alabama|1995|1.1800432307692308|
|        Pennsylvania|1999|1.1628983693693695|
|              Kansas|1990|1.1408154574132492|
|   Country Of Mexico|2008|1.1300000000000001|
|          New Jersey|1999|1.1121644444444443|
|   Country Of Mexico|1997|1.0841138461538462|
+--------------------+----+------------------+
only showing top 100 rows

## Q.4) For each state, what is the average distance (in km) of the monitors in that state to
the state center? For simplicity, assume that 1 degree of latitude or logitude equals
to 111 km. (Monitor dispersion per state!)

In [ ]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark.sql.functions as F

spark = SparkSession.builder.master('local[*]').appName('assig').getOrCreate()
sc = spark.sparkContext

try :
    lines = sc.textFile('./epa_hap_daily_summary-small.csv')
    l2 = lines.filter( lambda line : len(line) > 0 )
    header = l2.first()
    txt = l2.filter(lambda line: line != header)
    l3 = txt.map( lambda line : line.split(',') )
    
    #states info
    states= sc.textFile('./usa_states.csv')
    statesfil = states.filter( lambda line : len(line) > 0 )
    header = statesfil.first()
    txt = statesfil.filter(lambda line: line != header)
    statesmap = txt.map( lambda line : line.split(',') )
    stateRows= statesmap.map( lambda arr : Row( statename = arr[1], minlat=arr[2], maxlat=arr[3], minlon=arr[4], maxlon=arr[5]))
    statesDF = spark.createDataFrame( stateRows )
    #statesDF.show(10)
    #ETL states
    new_df2 = statesDF.withColumn("meanlat", F.col("minlat") + abs(F.col("maxlat") - F.col("minlat"))/2)
    new_df = new_df2.withColumn("meanlon", F.col("minlon")+((F.col("maxlon") - F.col("minlon"))/2))
    #new_df.show(100)
    
    #evry address info
    logRows = l3.map( lambda arr : Row(sn=arr[24], lat=arr[5], lon=arr[6]))
    logRowsDF = spark.createDataFrame( logRows )
    logd= logRowsDF.distinct()
    
    #logd.show()

    
    #join
    ndf = logd.join(new_df, [logd.sn==new_df.statename], 'inner')
    ndf3= ndf.drop( 'minlat', 'minlon','maxlat', 'maxlon')

    #ETL join
    ndf1 = ndf3.withColumn("dlat", abs(F.col("lat") - F.col("meanlat")))
    ndf2 = ndf1.withColumn("dlon", abs(F.col("lon") - F.col("meanlon")))
    hip = ndf2.withColumn("h", sqrt(abs(F.col("dlat"))**2 + abs(F.col("dlon")**2)))
    ndf3= hip.drop( 'lat', 'lon','meanlat', 'meanlon')
    ndf5= hip.sort(col('h').desc())
    ndf6=ndf5.filter(col('lat')!=0)
    nhdp = ndf6.withColumn("hkm", F.col('h')*111)
    ndf7=nhdp.drop('lat', 'lon', 'sn', 'meanlat', 'meanlon', 'dlon', 'dlat', 'h')
    ndf4= ndf7.groupBy( 'statename').agg({'hkm': 'avg'}).sort(col('statename'))
    ndf4.show()

except Exception as e:
    print(e)
sc.stop()

+-----------+------------------+
|  statename|          avg(hkm)|
+-----------+------------------+
|    Alabama|167.57779614651386|
|     Alaska| 603.6996422410684|
|    Arizona|178.87574055612177|
|   Arkansas|157.85010472330006|
| California| 328.2263813155365|
|   Colorado|180.25974203315081|
|Connecticut|  49.9897454877856|
|   Delaware|  51.5797704802335|
|    Florida| 336.5449146570832|
|    Georgia|184.34823507347105|
|     Hawaii|155.73279515048372|
|      Idaho|  289.635073275631|
|   Illinois| 224.0676150694105|
|    Indiana|177.74195777189746|
|       Iowa| 206.5989410368908|
|     Kansas| 292.0796841296708|
|   Kentucky| 219.9515168075211|
|  Louisiana|173.27631230948307|
|      Maine| 167.7714354141443|
|   Maryland| 89.28759445559284|
+-----------+------------------+
only showing top 20 rows

## Q.5) How many sensors there are per quadrant (NW, NE, SE, SW) in each state?

In [ ]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark.sql.functions as F

spark = SparkSession.builder.master('local[*]').appName('assig').getOrCreate()
sc = spark.sparkContext

try :
    #states info
    states= sc.textFile('./usa_states.csv')
    statesfil = states.filter( lambda line : len(line) > 0 )
    header = statesfil.first()
    txt = statesfil.filter(lambda line: line != header)
    statesmap = txt.map( lambda line : line.split(',') )
    stateRows= statesmap.map( lambda arr : Row( statename = arr[1], minlat=arr[2], maxlat=arr[3], minlon=arr[4], maxlon=arr[5]))
    statesDF = spark.createDataFrame( stateRows )
    #ETL states
    new_df2 = statesDF.withColumn("meanlat", F.col("minlat") + abs(F.col("maxlat") - F.col("minlat"))/2)
    new_df = new_df2.withColumn("meanlon", F.col("minlon")+((F.col("maxlon") - F.col("minlon"))/2))
    #new_df.show(100)
    
    
    #evry address info
    lines = sc.textFile('./epa_hap_daily_summary-small.csv')
    l2 = lines.filter( lambda line : len(line) > 0 )
    header = l2.first()
    txt = l2.filter(lambda line: line != header)
    l3 = txt.map( lambda line : line.split(',') )
    logRows = l3.map( lambda arr : Row(sc = arr[0], sn=arr[24], coords = arr[5]+arr[6], lat=arr[5], lon=arr[6]))
    logRowsDF = spark.createDataFrame( logRows )
    logd= logRowsDF.distinct()
    aux4= logd.groupBy('sn').agg(count('coords').alias('countState'))
    #logd.show(10)
    
    
    #join
    ne = logd.join(new_df, [logd.sn==new_df.statename, logd.lat>=new_df.meanlat, logd.lon>=new_df.meanlon], 'inner')
    negb= ne.drop( 'minlat', 'minlon','maxlat', 'maxlon')
    #negb.show(10)
    nef= negb.groupBy('sn').agg(countDistinct('coords').alias('countNE'))
    
    nw = logd.join(new_df, [logd.sn==new_df.statename, logd.lat>=new_df.meanlat, logd.lon<=new_df.meanlon], 'inner')
    nwgb= nw.drop( 'minlat', 'minlon','maxlat', 'maxlon')
    #nwgb.show(10)
    nwf= nwgb.groupBy('sn').agg(countDistinct('coords').alias('countNW'))
    
    se = logd.join(new_df, [logd.sn==new_df.statename, logd.lat<=new_df.meanlat, logd.lon>=new_df.meanlon], 'inner')
    segb= se.drop( 'minlat', 'minlon','maxlat', 'maxlon')
    #segb.show(10)
    sef= segb.groupBy('sn').agg(countDistinct('coords').alias('countSE'))
     
    sw = logd.join(new_df, [logd.sn==new_df.statename, logd.lat<=new_df.meanlat, logd.lon<=new_df.meanlon], 'inner')
    swgb= sw.drop( 'minlat', 'minlon','maxlat', 'maxlon')
    #swgb.show(10)
    swf= swgb.groupBy('sn').agg(countDistinct('coords').alias('countSW'))
 
    #join2
    aux1 = nef.join(nwf, [nef.sn==nwf.sn], 'inner').drop(nwf.sn)
    aux2= aux1.join(sef, [aux1.sn==sef.sn], 'inner').drop(sef.sn)
    aux3= aux2.join(swf, [aux2.sn==swf.sn], 'inner').drop(swf.sn)
    aux5= aux3.join(aux4, aux4.sn==aux3.sn, 'inner').drop(aux4.sn)
    table= aux5.withColumn("calcAllcount", F.col("countNE")+F.col("countNW")+F.col("countSE")+F.col("countSW"))
    table_sorted = table.sort(col("sn"))
    table_sorted.show(10)
    
except Exception as e:
    print(e)
sc.stop()

+-------+----------+-------+-------+-------+----------+------------+
|countNE|        sn|countNW|countSE|countSW|countState|calcAllcount|
+-------+----------+-------+-------+-------+----------+------------+
|      5|   Alabama|     14|      5|      7|        31|          31|
|      4|    Alaska|      3|      2|      3|        12|          12|
|      2|   Arizona|     10|     16|     10|        38|          38|
|      2|  Arkansas|      3|      1|      5|        11|          11|
|      2|California|     84|     68|     16|       170|         170|
|     25|  Colorado|     17|      4|      5|        51|          51|
|      4|   Georgia|     21|      5|      5|        35|          35|
|     32|  Illinois|      2|      1|     14|        49|          49|
|     18|   Indiana|     18|      8|      8|        52|          52|
|     18|    Kansas|      2|      9|      8|        37|          37|
+-------+----------+-------+-------+-------+----------+------------+
only showing top 10 rows